export(build_graph_laplacian)
export(cv_ss_svcqr)
export(kkt_sssvcqr)
export(make_spatial_folds)
export(simulate_sssvcqr_data)
export(ss_svcqr)
S3method(coef,sssvcqr)
S3method(fitted,sssvcqr)
S3method(plot,sssvcqr)
S3method(predict,sssvcqr)
S3method(print,sssvcqr)
S3method(print,sssvcqr_cv)
S3method(print,summary.sssvcqr)
S3method(residuals,sssvcqr)
S3method(summary,sssvcqr)
importFrom(stats,coef)
importFrom(stats,fitted)
importFrom(stats,predict)
importFrom(stats,residuals)
importFrom(stats,sd)
